<div class="iled-section-vertical">
    @if (!IsDisabled && string.IsNullOrWhiteSpace(FileUrl))
    {
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="@UploaderId">Upload Document</label>
                <InputFile OnChange="@SaveFileToTemp" id="@UploaderId" class="iled-cv" @onblur="RemoveMessage" />
            </div>
        </div>
    }
    <div class="iled-input-box-parent">
        <div class="iled-photocv">
            <p class="iled-inline-alert">@DocumentResultsText</p>
            @if (!string.IsNullOrWhiteSpace(FileUrl))
            {
                <strong><a target="_blank" href="@FileUrl">Document (will open in new tab)</a></strong>
                <button @onclick="@DeleteFile" disabled="@IsDisabled" class="il-button" @onblur="RemoveMessage">Delete</button>
            }
        </div>
    </div>
</div>

