<div class="iled-section-vertical">
    @if (!IsDisabled)
    {
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="@UploaderId">Upload Document</label>
                <InputFile OnChange="@SaveFileToTemp" id="@UploaderId" class="iled-cv"/>
            </div>
        </div>
    }
    <div class="iled-input-box-parent">
        <div class="iled-photocv">
            <p style="font-weight: 700;">@DocumentResultsText</p>
            @if (!string.IsNullOrWhiteSpace(FileUrl))
            {
                <a target="_blank" href="@FileUrl">Document (will open in new tab)</a>
                <button @onclick="@DeleteFile" disabled="@IsDisabled" class="il-button">Delete</button>
            }
        </div>
    </div>
</div>

