<div class="iled-section-vertical">
    @if (!IsDisabled && string.IsNullOrWhiteSpace(FileUrl))
    {
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="@UploaderId">Upload Photo @Size</label>
                <InputFile OnChange="@SaveFileToTemp" id="@UploaderId" @onblur="RemoveMessage" />
            </div>
        </div>
    }
    <div class="iled-input-box-parent">
        <div class="iled-photocv">
            <p class="iled-inline-alert">@PhotoText</p>
            @if (!string.IsNullOrWhiteSpace(FileUrl))
            {
                <a target="_blank" href="@FileUrl"><img class="thumbnail" src="@FileUrl?@Cache" alt="Image for item" /></a>
                <button @onclick="@DeleteFile" disabled="@IsDisabled" class="il-button" @onblur="RemoveMessage">Delete</button>
            }
        </div>
    </div>
</div>

