@page "/profile/activities/{refresh?}"

<PageTitle>Profile Activities | UIUC</PageTitle>
@if (Employee != null)
{
    <il-section>
        <h1>@Employee.ProfileName Activities</h1>
        @if (ShouldUseExperts)
        {
            <p>This person should update their publications, presentations, history, etc. at <a href="https://go.illinois.edu/experts-login" target="_blank">Illinois Experts</a>.</p>
        }
        else
        {

            <p>Add publications, presentations, history, etc. to this profile below. If there is an Illinois Experts profile, please update there.</p>

        @foreach (var activity in Employee.EmployeeActivities) {
            <div class="iled-activity">
                <p class="iled-activity-title">Activity</p>
                <div class="iled-activity-content">
                <div class="iled-input-box-parent">
                    <div class="iled-input-box">
                        <label for="ed-title-@activity.Id" class="iled-label-required">Title</label>
                        <input id="ed-title-@activity.Id" type="text" required disabled="@Employee.IsEntryDisabled" @bind="activity.Title">
                    </div>
                </div>
                <div class="iled-input-box-parent">
                    <div class="iled-input-box">
                        <label for="ed-url-@activity.Id">Url</label>
                                <input id="ed-url-@activity.Id" type="url" disabled="@Employee.IsEntryDisabled" @bind="activity.Url">
                    </div>
                </div>
                <div class="iled-section-split-25">
                    <div class="iled-input-box-parent">
                        <div class="iled-input-box">
                            <label for="ed-yearstarted-@activity.Id">Year Started</label>
                                    <input id="ed-yearstarted-@activity.Id" type="text" disabled="@Employee.IsEntryDisabled" @bind="activity.YearStarted">
                        </div>
                    </div>
                    <div class="iled-input-box-parent">
                        <div class="iled-input-box">
                            <label for="ed-yearended-@activity.Id">Year Ended</label>
                                    <input id="ed-yearended-@activity.Id" type="text" disabled="@Employee.IsEntryDisabled" @bind="activity.YearEnded">
                        </div>
                    </div>
                    <div class="iled-input-box-parent">
                        <div class="iled-input-box">
                            <label for="ed-type-@activity.Id">Type</label>
                            <select id="ed-type-@activity.Id" disabled="@Employee.IsEntryDisabled"
                                @bind="activity.Type">
                                @foreach (var enumtype in Enum.GetValues<ActivityTypeEnum>())
                                {
                                    <option value="@enumtype">@enumtype.ToPrettyString()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="iled-input-box-parent">
                        <div class="iled-input-box">
                            <label for="ed-display-order-@activity.Id">Display Order</label>
                                    <select id="ed-display-order-@activity.Id" disabled="@Employee.IsEntryDisabled" @bind="activity.InternalOrder">
                                @foreach (var enumtype in Enum.GetValues<ProfileDisplayEnum>())
                                {
                                    <option value="@enumtype">@enumtype.ToPrettyString()</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="iled-buttons-left">
                    <button class="il-button" @onclick="() => Save(activity)">Save</button>
                    <button class="il-button" @onclick="() => Delete(activity)">Delete</button>
                </div>
                    </div>
            </div>
        }
        <div class="iled-buttons-left">
            <button class="il-button" @onclick="New" disabled="@Employee.IsEntryDisabled">New</button>
            <ViewProfile NetId="@Employee.NetId"></ViewProfile>
        </div>
        <div id="update-alert-parent"><span class="hide" id="update-alert" role="alert"></span></div>
    }
    </il-section>
}
