@page "/profile/biography/{refresh?}"

<PageTitle>Profile Biography | Illinois</PageTitle>
<NavigationLock OnBeforeInternalNavigation=this.LocationChangingHandler ConfirmExternalNavigation=true />
@if (Employee != null)
{
    <il-section>
        <h1>@Employee.ProfileName Biography</h1>
        @if (ShouldUseExperts)
        {
            <p>This person should update their biography at <a href="https://go.illinois.edu/experts-login" target="_blank">Illinois Experts</a></p>          
        }
        else if (!HideQuillInformationForUpdates)
        {
            <p>Add a professional biography to this profile below. Please contact your office administrator on what type of information belongs here.</p>
            <p><strong>Note that this is on a public website. Remove any personal information like phone numbers and addresses before uploading.</strong></p>
            <div class="iled-input-box-parent">
                <div class="iled-input-box">
                    <label for="ed-biography">Add Biography</label>
                    <div>
                    <BlazoredTextEditor @ref="@QuillBiography" Placeholder="Professional Biography">
                        <ToolbarContent>
                            <span class="ql-formats">
                                <button class="ql-bold" aria-label="Apply Bold"></button>
                                <button class="ql-italic" aria-label="Apply Italics"></button>
                                <button class="ql-underline" aria-label="Apply Underline"></button>
                                <button class="ql-strike" aria-label="Apply Strikethrough"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link" aria-label="Apply Link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>
                            @((MarkupString)@BiographyText)
                        </EditorContent>
                    </BlazoredTextEditor>
                    </div>
                </div>
            </div>
            <div class="iled-buttons-left">
                <button class="il-button" @onclick="Send" disabled="@Employee.IsEntryDisabled" @onblur="RemoveMessage">Save</button>
                <ViewProfile NetId="@Employee.NetId"></ViewProfile>
            </div>
            <ToastPopup></ToastPopup>
        }
    </il-section>
}
