@page "/profile/cv/{refresh?}"

<PageTitle>Profile CV | Illinois</PageTitle>
<NavigationLock OnBeforeInternalNavigation=this.LocationChangingHandler ConfirmExternalNavigation=_isDirty />
@if (Employee != null)
{
    <il-section>
        <h1>@Employee.ProfileName CV</h1>
        <p>Add a professional resume or CV to this profile by uploading a file below. Make sure you save any changes.</p>
        <Instructions ChildContent="@Instructions"></Instructions>
        <DocumentUploader IsDisabled=@Employee.IsEntryDisabled @ref="@DocumentUploader" FileUrl="@Employee.CVUrl" ItemId="@Employee.NetIdTruncated" Delete="DeleteDocument" Save="SaveDocument"></DocumentUploader>

        <div class="iled-buttons-left">
            <button class="il-button" disabled="@Employee.IsEntryDisabled" @onclick="Send" @onblur="RemoveMessage">Save Document</button>
            <ViewProfile NetId="@Employee.NetId"></ViewProfile>
        </div>
    </il-section>
    <ToastPopup></ToastPopup>
}
