@page "/profile/general/{refresh?}"

<PageTitle>Profile | Illinois</PageTitle>
<NavigationLock OnBeforeInternalNavigation=this.LocationChangingHandler ConfirmExternalNavigation=_isDirty />
@if (Employee != null)
{
<il-section>
    <h1>@Employee.ProfileName</h1>
    <p>Welcome to @(Employee.IsCurrentUser ? "your profile" : "the profile of " + Employee.ProfileName)! Edit the profile information below.</p>
        <Instructions ChildContent="@Instructions"></Instructions>

        @if (!string.IsNullOrWhiteSpace(ShowBackButton) && ShowBackButton == "search")
        {
            <p><a href="/search/people" class="il-button">Back to Searching for People</a></p>
        }

    <h2>General Information</h2>
    <h3>Preferred Name</h3>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-firstname">First Name</label>
                    <input autocomplete="given-name" id="ed-firstname" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredNameFirst" @bind:after="SetDirty">
            </div>
            <div class="iled-instructions">
                You may <a href="https://go.uillinois.edu/myprofile">edit this in the My UI Info</a> and it will update your directory information as well. If blank, we are pulling your information from My UI Info.
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-lastname">Last Name</label>
                    <input autocomplete="family-name" id="ed-lastname" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredNameLast" @bind:after="SetDirty">
            </div>
            <div class="iled-instructions">
                You may <a href="https://go.uillinois.edu/myprofile">edit this in the My UI Info</a> and it will update your directory information as well. If blank, we are pulling your information from My UI Info.
            </div>
        </div>
    </div>
    <h3>Preferred Pronouns</h3>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-pronoun-template">Pronoun Templates</label>
                    <select id="ed-pronoun-template" @bind="Employee.PreferredPronouns" disabled="@Employee.IsEntryDisabled" @bind:after="SetDirty">
                        <option value="">(blank)</option>
                        <option value="he/him">he/him</option>
                        <option value="she/her">she/her</option>
                        <option value="they/them">they/them</option>
                        <option value="">other</option>
                    </select>
                </div>
                <div class="iled-instructions">
                    Pronoun disclosure is an individual choice and not a mandate.
                </div>
            </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-pronouns">Pronouns</label>
                    <input id="ed-pronouns" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredPronouns" @bind:after="SetDirty">
            </div>
        </div>
    </div>
    <h3>Office Address and Phone Number</h3>
    <p>This information <a href="https://go.uillinois.edu/myprofile">can also be edited in the My UI Info</a>. If this information is left blank, it will use the My UI Info.</p>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-room">Room Number</label>
                <input id="ed-room" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.Room" @bind:after="SetDirty">
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-building">Building</label>
                <input id="ed-building" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.Building" @bind:after="SetDirty">
            </div>
        </div>
    </div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-address1">Address Line 1</label>
            <input id="ed-address1" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.AddressLine1" @bind:after="SetDirty">
        </div>
    </div>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-address2">Address Line 2</label>
            <input id="ed-address2" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.AddressLine2" @bind:after="SetDirty">
        </div>
    </div>
    <div class="iled-section-split-3">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-city">City</label>
                <input id="ed-city" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.City" @bind:after="SetDirty">
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-state">State</label>
                <input id="ed-state" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.State" @bind:after="SetDirty">
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-zipcode">Zip Code</label>
                <input id="ed-zipcode" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.ZipCode" @bind:after="SetDirty">
            </div>
        </div>
    </div>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-phone">Phone Number</label>
                <input id="ed-phone" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.Phone" @bind:after="SetDirty">
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-hidephone">Hide Phone Number</label>
                <input id="ed-hidephone" type="checkbox" disabled="@Employee.IsEntryDisabled" @bind="Employee.IsPhoneHidden" @bind:after="SetDirty">
            </div>
            <div class="iled-instructions">
                This will allow you to not display your phone number even if it is <a href="https://go.uillinois.edu/myprofile">listed in My UI Info</a>.
            </div>
        </div>
    </div>
    <div class="iled-buttons-left">
        <button class="il-button" @onclick="Send" disabled="@Employee.IsEntryDisabled" @onblur="RemoveMessage">Save</button>
        <ViewProfile NetId="@Employee.NetId"></ViewProfile>
    </div>
    <ToastPopup></ToastPopup>

</il-section>
}
