@page "/profile/general/{refresh?}"

<PageTitle>Profile | UIUC</PageTitle>
@if (Employee != null)
{
<il-section>
    <h1>@Employee.ProfileName</h1>
    <p>Welcome to @(Employee.IsCurrentUser ? "your profile" : "the profile of " + Employee.ProfileName)! Edit the profile information below. Note that you may not be able to edit everything on this page. Some information is only editable by the employee, and others are only editable by the person who manages your office.</p>
        <Instructions ChildContent="@Instructions"></Instructions>

        @if (!string.IsNullOrWhiteSpace(ShowBackButton) && ShowBackButton == "add")
        {
            <p><a href="/office/people" class="il-button">Back to Adding People</a></p>
        }
        @if (!string.IsNullOrWhiteSpace(ShowBackButton) && ShowBackButton == "search")
        {
            <p><a href="/search/people" class="il-button">Back to Searching for People</a></p>
        }

    <h2>General Information</h2>
    <h3>Preferred Name</h3>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-firstname">First Name</label>
                    <input autocomplete="given-name" id="ed-firstname" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredNameFirst">
            </div>
            <div class="iled-instructions">
                    You may <a href="https://go.uillinois.edu/myprofile">edit this in the My UI Info</a> and it will update your directory information as well. If blank, we are pulling your information from My UI Info.
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-lastname">Last Name</label>
                    <input autocomplete="family-name" id="ed-lastname" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredNameLast">
            </div>
                <div class="iled-instructions">
                    You may <a href="https://go.uillinois.edu/myprofile">edit this in the My UI Info</a> and it will update your directory information as well. If blank, we are pulling your information from My UI Info.
                </div>
            </div>
    </div>
    <h3>Preferred Pronouns</h3>
    <div class="iled-section-split">
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-pronoun-template">Pronoun Templates</label>
                    <select id="ed-pronoun-template" @bind="Employee.PreferredPronouns" disabled="@Employee.IsEntryDisabled">
                        <option value="">(blank)</option>
                        <option value="he/him">he/him</option>
                        <option value="she/her">she/her</option>
                        <option value="they/them">they/them</option>
                        <option value="">other</option>
                    </select>
                </div>
                <div class="iled-instructions">
                    Pronoun disclosure is an individual choice and not a mandate.
                </div>
            </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-pronouns">Pronouns</label>
                <input id="ed-pronouns" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PreferredPronouns">
            </div>
        </div>
    </div>
    <h3>Phone Number</h3>
    <p>Phone numbers <a href="https://go.uillinois.edu/myprofile">can be edited in the My UI Info</a></p>
    <div class="iled-input-box-parent">
        <div class="iled-input-box">
            <label for="ed-hidephone">Hide Phone Number</label>
            <input id="ed-hidephone" type="checkbox" disabled="@Employee.IsEntryDisabled" @bind="Employee.IsPhoneHidden">
        </div>
    </div>

    <h3>Job Title(s)</h3>
    @foreach (var profile in Employee.JobProfiles)
    {
            @if (Employee.JobProfiles.Count > 1 && profile.OfficeId == Employee.PrimaryJobProfile.OfficeId)
            {
                <h4>@profile.Office.Title (primary)</h4>
            } else
            {
                <h4>@profile.Office.Title</h4>
            }
            <div class="iled-section-split">
            <div class="iled-input-box-parent">
                <div class="iled-input-box">
                    <label for="ed-title-@profile.Id">Title</label>
                        <input id="ed-title-@profile.Id" type="text" disabled="@profile.IsEntryDisabled" @bind="profile.Title">
                </div>
            </div>
            <div class="iled-input-box-parent">
                <div class="iled-input-box">
                    <label for="ed-type-@profile.Id">Job Type</label>
                    <select id="ed-type-@profile.Id" @bind="profile.Category" disabled="@profile.IsEntryDisabled">
                    @foreach (var enumtype in Enum.GetValues<ProfileCategoryTypeEnum>())
                    {
                            <option value="@enumtype">@enumtype.ToPrettyString()</option>
                    }
                    </select>
                </div>
                <div class="iled-instructions">
                    A job type of "None" means the person will not be listed.
                </div>
            </div>
        </div>
        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-order-@profile.Id">Display Order</label>
                <select id="ed-order-@profile.Id" @bind="profile.ProfileDisplay" disabled="@profile.IsEntryDisabled">
                    @foreach (var enumtype in Enum.GetValues<ProfileDisplayEnum>().OrderBy(o => o))
                    {
                        <option value="@enumtype">@enumtype.ToPrettyString()</option>
                    }
                </select>
            </div>
            <div class="iled-instructions">
                Profiles are normally listed in alphabetical order. This allows an administrator to manually change the order of the profile. 
            </div>
        </div>
        }
        <div class="iled-buttons-left">
            <button class="il-button" @onclick="Send" disabled="@Employee.IsEntryDisabled" @onblur="RemoveMessage">Save</button>
            <ViewProfile NetId="@Employee.NetId"></ViewProfile>
        </div>
        <ToastPopup></ToastPopup>

</il-section>
}
